In [1]:
import pandas as pd

df = pd.DataFrame({'user_0':[0,3,0,5,0,0,4,5,0,2], 'user_1':[0,0,3,2,5,0,4,0,3,0], 'user_2':[3,1,0,3,5,0,0,4,0,0], 'user_3':[4,3,4,2,0,0,0,2,0,0],
                   'user_4':[2,0,0,0,0,4,4,3,5,0], 'user_5':[1,0,2,4,0,0,4,0,5,0], 'user_6':[2,0,0,3,0,4,3,3,0,0], 'user_7':[0,0,0,3,0,2,4,3,4,0],
                   'user_8':[5,0,0,0,5,3,0,3,0,4], 'user_9':[1,0,2,0,4,0,4,3,0,0]}, index=['movie_0','movie_1','movie_2','movie_3','movie_4','movie_5','movie_6','movie_7','movie_8','movie_9'])
df

,user_0,user_1,user_2,user_3,user_4,user_5,user_6,user_7,user_8,user_9
movie_0,0,0,3,4,2,1,2,0,5,1
movie_1,3,0,1,3,0,0,0,0,0,0
movie_2,0,3,0,4,0,2,0,0,0,2
movie_3,5,2,3,2,0,4,3,3,0,0
movie_4,0,5,5,0,0,0,0,0,5,4
movie_5,0,0,0,0,4,0,4,2,3,0
movie_6,4,4,0,0,4,4,3,4,0,4
movie_7,5,0,4,2,3,0,3,3,3,3
movie_8,0,3,0,0,5,5,0,4,0,0
movie_9,2,0,0,0,0,0,0,0,4,0